@charset "UTF-8";

/*Estilo para telas*/

*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 8px;
    text-align: center;
}
p{
    text-indent: 30px;
    text-align: justify;
    margin: 20px;
}