@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   /* margin: 0px;
    padding: 0px;*/
}
body{
    background-image: linear-gradient(to right,rgb(248, 171, 171),rgb(230, 84, 181));
}
main{
    background-color: rgb(245, 221, 201);
    border-radius: 45px;
    box-shadow: 5px 5px 15px rgb(22, 0, 15);
    min-width: 280px;
    max-width: 800px;
    padding: 10px;
    margin: auto;
    height: auto;
}
h1{
    text-align: center;
    
}
h1:hover{
  color: rgb(145, 22, 170);
}
h1.douglas-h1:hover{
    color: rgb(101, 101, 224);
 }

h2{
    color: rgb(112, 13, 13);
    text-align: center;
}
h2:hover{
    color: rgb(109, 16, 128);
    
}
p{
    text-align: justify;
}
footer > p{
    display: none;
}
footer:hover > p{
    display: block;
}
button{
    background-color: rgb(236, 90, 188);
    border: 1px solid black;
}
button:hover{
   background-color: rgb(165, 57, 107);
    border: 1px solid rgb(135, 15, 146);
}
button:active{
    background-color: rgb(133, 2, 255);
}
button.douglas-botao:hover{
    background-color: rgb(101, 101, 224);
}
button.douglas-botao:active{
    background-color: rgb(63, 63, 141);
}
button.rayla-botao:hover{
    background-color:  rgb(219, 44, 219);
}
button.rayla-botao:active{
    background-color: rgb(63, 63, 141);
}
li{
    padding: 10px;
}
.voltar{
    text-align: center;
}
